/* COLORS */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.heading-hero {
  text-transform: uppercase;
  font-size: 36vh;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FF343D;
  text-shadow: 0rem 0rem 5rem rgba(0, 0, 0, 0.2);
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .heading-hero {
    font-size: 32vw;
  }
}

.heading-1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.heading-6 {
  font-weight: 400;
  color: #92A1A5;
  font-size: 1.2rem;
}

/* LOGO */
.logo {
  width: 6.6rem;
  padding: 0 .7rem;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  /* @include respond(navbar) {
        font-size: 4.5vw;
    } */
}

.logo::after {
  content: "";
  display: block;
  border: 0.2rem solid #FF343D;
  border-radius: 50%;
  padding: .2rem;
  position: absolute;
  top: 0;
  right: 0;
}

/* PHONE NUMBER */
.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #98A6AA;
  /* @include respond(navbar) {
            width: 3vw;
            height: 3vw;
        } */
}

.phone-number__text {
  margin-left: .3rem;
  font-size: 1.2rem;
  color: #98A6AA;
  /* @include respond(navbar) {
            font-size: 3vw;
        } */
}

/* BUY NOW BUTTON */
.buy-now,
.buy-now:link,
.buy-now:visited {
  display: block;
  width: 8rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #FE7178;
  /* SPECIAL MEDIA QUERIES */
  /* @include respond(navbar) {
        font-size: 3.7vw;
    } */
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .buy-now,
  .buy-now:link,
  .buy-now:visited {
    color: #000;
    border-bottom: 1px solid #FF343D;
  }
}

/* HAMBURGER ICON */
.hamburger {
  display: block;
  position: relative;
  width: 2rem;
  height: 1.3rem;
}

.hamburger__line {
  display: block;
  width: 100%;
  height: .2rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* SPECIAL MEDIA QUERIES */
}

.hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
}

.hamburger__line::before {
  bottom: .4rem;
}

.hamburger__line::after {
  top: .4rem;
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .hamburger__line {
    background-color: #000;
  }
}

/* SLIDER DOTS */
.slider-dots__dot {
  margin: 1rem 0;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  cursor: pointer;
}

.slider-dots__dot--active {
  background-color: #FF343D;
}

.header {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__navbar {
  position: absolute;
  width: 100%;
  margin-top: 4rem;
  z-index: 100;
}

.header__left {
  background-color: #EFF2F6;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.header__right {
  background-color: #FF343D;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  position: relative;
  overflow: hidden;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header__heading-huge {
  width: 100vh;
  overflow: hidden;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -100vh;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-aspect-ratio: 71 / 70) {
  .header__heading-huge {
    -webkit-transform: none;
            transform: none;
    position: static;
    width: 100vw;
  }
}

.navigation {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  /* SPECIAL MEDIA QUERIES */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .navigation {
    width: 95%;
  }
}

.navigation__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo-box > div:last-child {
  margin-left: 4rem;
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .navigation__logo-box > div:last-child {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 19.125em) {
  .navigation__logo-box > div:last-child {
    margin-left: 2vw;
  }
}

.navigation__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__menu-box > a:first-child {
  margin-right: 4rem;
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .navigation__menu-box > a:first-child {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 19.125em) {
  .navigation__menu-box > a:first-child {
    margin-right: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */