/* COLORS */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.heading-hero {
  text-transform: uppercase;
  font-size: 36vh;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FF343D;
  text-shadow: 0rem 0rem 5rem rgba(0, 0, 0, 0.2);
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .heading-hero {
    font-size: 32vw;
  }
}

@media only screen and (min-width: 37.5em) and (max-aspect-ratio: 3 / 4) {
  .heading-hero {
    font-size: 34vh;
  }
}

@media only screen and (max-width: 37.5em) and (min-aspect-ratio: 71 / 40) {
  .heading-hero {
    font-size: 25vw;
  }
}

.heading-1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.heading-6 {
  font-weight: 400;
  color: #92A1A5;
  font-size: 1.2rem;
}

/* LOGO */
.logo {
  padding: 0 .7rem;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  /* SPECIAL MEDIA QUERIES */
}

.logo::after {
  content: "";
  display: block;
  border: 0.2rem solid #FF343D;
  border-radius: 50%;
  padding: .2rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 19.125em) {
  .logo {
    font-size: 4.5vw;
  }
}

/* PHONE NUMBER */
.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #98A6AA;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 19.125em) {
  .phone-number__icon {
    width: 3vw;
    height: 3vw;
  }
}

.phone-number__text {
  margin-left: .3rem;
  font-size: 1.2rem;
  color: #98A6AA;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 19.125em) {
  .phone-number__text {
    font-size: 3vw;
  }
}

/* BUY NOW BUTTON */
.buy-now,
.buy-now:link,
.buy-now:visited {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #FE7178;
  /* SPECIAL MEDIA QUERIES */
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .buy-now,
  .buy-now:link,
  .buy-now:visited {
    color: #000;
    border-bottom: 1px solid #FF343D;
  }
}

@media only screen and (max-width: 19.125em) {
  .buy-now,
  .buy-now:link,
  .buy-now:visited {
    font-size: 3.7vw;
  }
}

/* HAMBURGER ICON */
.hamburger {
  display: block;
  position: relative;
  width: 2rem;
  height: 1.3rem;
}

.hamburger__line {
  display: block;
  width: 100%;
  height: .2rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* SPECIAL MEDIA QUERIES */
}

.hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
}

.hamburger__line::before {
  bottom: .4rem;
}

.hamburger__line::after {
  top: .4rem;
}

@media only screen and (max-width: 37.5em) {
  .hamburger__line {
    background-color: #000;
  }
}

/* SLIDER DOTS */
.slider-dots {
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .slider-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider-dots__dot {
  margin: 1rem 0;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  cursor: pointer;
  /* SPECIAL MEDIA QUERIES */
}

.slider-dots__dot--active {
  background-color: #FF343D;
}

@media only screen and (max-width: 37.5em) {
  .slider-dots__dot {
    margin: 0 1rem;
  }
}

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#EFF2F6), color-stop(62%, #EFF2F6), color-stop(62%, #FF343D));
  background-image: linear-gradient(to right, #EFF2F6 0%, #EFF2F6 62%, #FF343D 62%);
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EFF2F6), color-stop(62%, #EFF2F6), color-stop(62%, #FF343D));
    background-image: linear-gradient(to bottom, #EFF2F6 0%, #EFF2F6 62%, #FF343D 62%);
  }
}

.header__content {
  max-width: 120rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2% 0;
  position: relative;
  z-index: 100;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 75em) {
  .header__content {
    padding: 5%;
  }
}

.header__main {
  background-color: deepskyblue;
  position: relative;
  height: 100%;
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 2%;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .header__main {
    width: 100%;
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__huge-heading {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg) translateY(-315%);
          transform: rotate(90deg) translateY(-315%);
  position: absolute;
  /* top: 36%;
        right: -20%; */
  top: -2rem;
  right: 0;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .header__huge-heading {
    -webkit-transform: none;
            transform: none;
    top: auto;
    bottom: 0;
    right: auto;
  }
}

@media only screen and (min-width: 37.5em) and (max-aspect-ratio: 3 / 4) {
  .header__huge-heading {
    right: -2%;
  }
}

@media only screen and (max-width: 37.5em) and (min-aspect-ratio: 71 / 40) {
  .header__huge-heading {
    left: 11%;
    bottom: -5%;
  }
}

.header__image-box {
  display: none;
  position: absolute;
  z-index: 101;
  background-color: #fff;
  width: 35vmax;
  height: 35vmax;
  border-radius: 50%;
  left: 44.5%;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .header__image-box {
    bottom: 0;
  }
}

.header__slider-box {
  background-color: cyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  /* SPECIAL MEDIA QUERIES */
}

.header__slider-box span {
  -webkit-transform: rotate(-90deg) translateX(45%);
          transform: rotate(-90deg) translateX(45%);
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 37.5em) {
  .header__slider-box span {
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__slider-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header__text-box {
  background-color: greenyellow;
}

.header__text-box h6 {
  margin-top: 1rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo-box > div:last-child {
  margin-left: 15%;
  min-width: 15rem;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 19.125em) {
  .navigation__logo-box > div:last-child {
    margin-left: 5vw;
    min-width: 0;
  }
}

.navigation__menu-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12rem;
          flex: 0 0 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* SPECIAL MEDIA QUERIES */
}

@media only screen and (max-width: 19.125em) {
  .navigation__menu-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30vw;
            flex: 0 0 30vw;
  }
}
/*# sourceMappingURL=style.css.map */