.footer {
    height: 20vmax;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-size: 10vw;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 15vw rgba(0, 0, 0, .15);
    }

    &__content {
        position: relative;
        z-index: 1;

        .logo {
            margin: 0 auto;
            margin-bottom: 1.5vw;
        }
        text-align: center;
    }

    &__credits {
        font-size: 1.4rem;
        color: #92A1A5;
    }
}