.header {
    position: relative;
    height: 100vh;
    display: flex;

    @include respond(portrait) {
        flex-direction: column;
    }

    &__navbar {
        position: absolute;
        width: 100%;
        margin-top: 4rem;
        z-index: 100;
    }

    &__left {
        background-color: $color-gray-light;
        flex: 0 0 60%;
    }

    &__right {
        background-color: $color-primary;
        flex: 0 0 40%;
        position: relative;
        overflow: hidden;
        
        @include respond(portrait) {
            display: flex;
            align-items: center;
        }
    }

    &__heading-huge {
        width: 100vh;
        overflow: hidden;
        transform-origin: top left;
        transform: rotate(90deg);
        position: absolute;
        right: -100vh;

        @include respond(portrait) {
            transform: none;
            position: static;
            width: 100vw;
        }
    }
}