.journey {
    height: 100vh;
    background-image: url(/img/start-your-journey.png);
    background-size: cover;
    background-position: 53% top;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__content {
        margin-bottom: 20vh;
        text-align: center;
    }

    &__text {
        font-size: 5vw;
        color: #fff;
        margin-bottom: 5vh;
    }

    &__button,
    &__button:link,
    &__button:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #318F76;
        background-color: #fff;
        border-radius: 30px;
        padding: 1.2rem 2.5rem;
    }
}