.navigation {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;

    @include respond(tab-land) {
        width: 95%;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        display: flex;
        align-items: center;

        & > div:last-child {
            margin-left: 4rem;
            
            @include respond(phone) {
                margin-left: 2rem;
            }

            @include respond(navbar) {
                margin-left: 2vw;
            }
        }
    }

    &__menu-box {
        display: flex;
        align-items: center;

        & > a:first-child {
            margin-right: 4rem;

            @include respond(phone) {
                margin-right: 2rem;
            }

            @include respond(navbar) {
                margin-right: 2vw;
            }
        }
    }
}