.promo-cta {
    display: flex;
    height: 30vw;
    overflow: hidden;

    @include respond(phone) {
        flex-direction: column;
        height: 145vw;
    }

    &__image {
        flex: 0 0 45%;
        background-image: url(/img/promo-cta.png);
        background-size: cover;
    }

    &__cta {
        flex: 1;
        background-color: #232323;
        position: relative;

        display: flex;
        align-items: center;

        @include respond(phone) {
            padding: 0 8vw;
            justify-content: center;
        }
    }

    &__icon {
        position: absolute;
        top: 1.5vw;
        right: -10.5vw;
        fill: #2D2D2D;
        width: 27vw;
        height: 27vw;

        @include respond(phone) {
            width: 75vw;
            height: 75vw;
            right: -30vw;
        }
    }

    &__content {
        margin-left: 6vw;
        position: relative;
        z-index: 1;
        width: 80%;

        @include respond(phone) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__text {
        color: #fff;
        font-weight: 500;
        font-size: 5vw;

        margin-bottom: 3rem;

        @include respond(phone) {
            font-size: 12vw;
            margin-bottom: 8vw;
        }
    }

    &__button,
    &__button:link,
    &__button:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.4rem;
        border: .2rem solid #2D2D2D;
        border-radius: 40px;
        padding: 1rem 2.5rem;
        transition: border-color .3s, background-color .3s, color .3s;

        &:hover {
            border-color: #fff;
            background-color: #fff;
            color: #2D2D2D;
        }

        @include respond(phone) {
            display: block;
            text-align: center;
            width: 18.9rem;
            margin: 0 auto;
            font-size: 2rem;
            padding: 1.6rem 3.1rem;
        }
    }
}