.products {
    height: 35vw;
    background-image: url(/img/drone.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 110% center;

    display: flex;
    align-items: center;

    @include respond(phone) {
        height: 130vw;
        background-size: 100%;
        background-position: 11vw 95%;

        justify-content: center;
        align-items: flex-start;
    }

    &__content {
        flex: 0 0 45%;
        margin-left: 10vw;

        @include respond(phone) {
            flex: 0 0 80%;
            margin-left: 0;
            margin-top: 5vw;
        }
    }

    &__text {
        font-size: 5vw;
        font-weight: 500;
        color: #2D2D2D;
        margin-bottom: 5rem;

        @include respond(phone) {
            font-size: 12vw;
            margin-bottom: 9vw;
        }
    }

    &__button,
    &__button:link,
    &__button:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        color: #2D2D2D;
        padding: 1.3rem 3rem;
        border: 2px solid #EFF2F6;
        border-radius: 30px;

        transition: border-color .3s, background-color .3s, color .3s;

        &:hover {
            border-color: #2D2D2D;
            background-color: #2D2D2D;
            color: #fff;
        }
    }
}